<head>
  <title>Mis quedadas - RHG | Perfil de <%= user %></title>
  <% include head %>
</head>

<body class="profile-page sidebar-collapse">
  <% include navbar %>

  <div class="page-header header-filter" data-parallax="true" style="background-image: url('/img/bg7.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Perfil de <%= user %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Tu perfil:</h2>
        <h3>Tu foto:</h3>
        <img  src="/img/users/<%= user %>.jpg" onerror="this.src = '/img/users/usuario.jpg'; console.log('Ha habido un fallo al cargar la foto de <%= user %>')" alt="Imagen de <%= user %>" title="Imagen de <%= user %>" class="img-raised rounded img-fluid img-profile">
        <h3>Nombre de usuario:</h3>
        <code><%= user %></code>
        <div id="Edad"></div>
        <h3>Imagen:</h3>
        <code><%= imagen %></code>
        <h3>Cambiar foto:</h3>
        <form action="/perfil/" method="post" enctype="multipart/form-data">
          <input type="file" name="filetoupload" accept="image/*" >
          <button type="submit" class="btn btn-fab btn-round btn-primary">
            <i class="material-icons">attach_file</i>
          </button>
        </form>
        <h3>Tus quedadas pendientes:</h3>
        <code>
          <% for(var i=0; i<quedadas.length; i++) { %>
            <a href='/quedada/<%= quedadas[i] %>'>
              <%= quedadas[i] %>
            </a>
            <br>
          <% } %>
        </code>
      </div>
    </div>
  </div>

  <% include footer %>

  <!-- Scripts -->
  <!-- Ver edad solo si está definida -->
  <script>
    if("<%= edad %>" != "")
    document.getElementById("Edad").innerHTML="<h3>Edad:</h3><code><%= edad %></code>";
  </script>
  <% include scripts %>
</body>
